.containerTituloEnemigos{
  padding-bottom:50px;
}

.grupoEnemigos{
  background-color: lightblue;
  border-style: groove;
  border-width: 7px;
  flex-wrap: wrap;
  display: flex;
  align-self: flex-end;   
  background-color: lightblue;
  border-width: 7px;
  padding:20px;
  gap:5rem; 
  font-size: 2rem;

}

.cardsEnemigos{
  display: ridge;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
  border-style: dotted;
  justify-content: flex-end;
  
}
.card{
  width:20rem;
  height: 200px;
  font-size: 20px;
  border-radius: 10px;
  flex-grow:1;

}
#card1{
  background-color: rgb(82, 191, 138);
  
}
#card2{
  background-color: violet;
}

.containerTituloBosses{
  align-self: flex-end;
  text-align: right;
}
.grupoBosses{
  display: flex;
  flex-direction:column;
  background-color: rgb(220, 149, 63);
  border-style: groove;
  border-width: 7px;   
  border-width: 7px;
  padding:20px;
  gap:5rem; 
  font-size: 1.7rem;

}

.cardsBosses{
  display: ridge;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
  border-style: dotted;
  justify-content: flex-end;
  
}

.cardBoss{
  width:20rem;
  height: 200px;
  font-size: 20px;
  border-radius: 10px;
  flex-grow:1;

}
#cara{
  background-color: rgb(188, 232, 106);
  
}
#cruz{
  background-color: rgb(165, 132, 167);
}
#canto{
  background-color: rgb(132, 198, 233);
}

/*Desbloquea objetos y avanza seccion*/
.containerPadreItems{
  display: flex;
  flex-direction:column;
  background-color: rgb(124, 250, 156);
  border-style: groove;
  border-width: 7px;   
  border-width: 7px;
  padding:20px;
  gap:5rem; 
  font-size: 1.7rem;
}

.containerSeleccionItems{
  display: ridge;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
  border-style: dotted;
  justify-content: flex-end;
  
}

.wrapperSeleccion{
  display: ridge;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  border-style: dotted;
  justify-content: flex-end;
  
}

#selArmas{
  background-color: rgb(232, 211, 106);
  
}
#selPowerups{
  background-color: rgb(255, 109, 150);
}
#selCuracion{
  background-color: rgb(139, 132, 233);
}


.itemsLista{
  display: ridge;
  display:flex;
  flex-direction: row;
  gap: 20px;
  border-style: dotted;
  justify-content: flex-end;
}

.gridCards{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  overflow-wrap: anywhere;
}
/*Cards armas individ*/
#escudo{
  background-color: rgb(245, 170, 216);
  
}
#bomba{
  background-color: rgb(15, 181, 190);
}
#reloj{
  background-color: rgb(234, 53, 53);
}
/*Cards power-ups individ*/
#pocionVerde{
  background-color: rgb(93, 202, 5);
  
}
#incrementoRojo{
  background-color: rgb(255, 61, 71);
}
#incrementoAzul{
  background-color: rgb(95, 190, 195);
}
#incrementoAmarillo{
  background-color: rgb(234, 228, 53);
}
#calavera{
  background-color: rgb(114, 123, 124);
}
#estrella{
  background-color: rgb(241, 247, 193);
}
/*Cards power-ups individ*/
#pocionVerde{
  background-color: rgb(93, 202, 5);
  
}
#incrementoRojo{
  background-color: rgb(255, 61, 71);
}
/*Cards curacion individ*/
#pildoraAzul{
  background-color: rgb(5, 90, 202);
  
}
#corazonRojo{
  background-color: rgb(185, 19, 28);
}