@font-face {
font-family:"Ringbearer";
src: url("fonts/Ringbearer Medium V2.woff2") format("woff2");
}

/*Variable colors*/
:root {
    --bg-color-gold: rgb(249, 207, 19);
    --text-color: black;
    --underline-color: rgb(125, 73, 11);
    --hover-background-color: rgb(231, 174, 16);

    --min-padding: 10px;
}

/*Prevents problems with the padding*/
*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
    margin: 0;
    font-family:'Ringbearer', serif;
}

h2 {
    margin: 20px 5px 20px 5px;
    padding: 0px;
    text-align: center;
    font-size: 30px;
}

h3 {
    padding: var(--min-padding);
    font-size: 25px;
}

p {
    padding: var(--min-padding);
    text-align: justify;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-gold);
    color: var(--text-color);
    overflow: hidden;
    border-bottom: 1px solid var(--underline-color);
}

.links-nav{
    display: flex;
    gap: 50px;
    list-style: none;
}

.navbar .logo-navbar{
    margin-right: auto;

}

.links-nav a{
    display: flex;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.2em 0.3em;
    transition: var(--underline-color) 0.3 ease;
}

.links-nav a:hover {
    color:var(--text-color);
    text-decoration: underline;
    background-color: var(--hover-background-color);
    transition: background-color 0.3s ease;

}

@media screen and (max-width: 768px){
    nav{
    position: fixed;  /*Element doesn't move when page scolss*/
    top: 0;
    right: 0;
    height:100vh; /*the elements height will be 100% of the visible area of the browser window height*/
    width: min(15em, 100%); /*for elemtns to be seen properly on smaller screens*/
    z-index: 10;
    display: flex;
    flex-direction:column;
    }
     .links-nav {
        flex-direction: column; /* Enllaços un sota l'altre [25] */
        width: 100%;
        gap: 20px;

    }
}



/*Section about the creator of the game*/
.container-creator {
    background-color: darkgrey;
    display: flex;
    align-items: end;
    justify-content: right;

}

.container-creator section, p {
    background-color: blanchedalmond;
    display: flexbox;
    justify-content: flex-end;
    text-align: right;
    width: 510px;
}

.container-text-over-board {
    position: relative;
}

.container-text-over-board img{
    height: 200px;
    width: 520px;
}

.socialmedia{
    background-color: brown;
    display: flex;
    justify-content: right;
    padding: var(--min-padding);
}

.socialmedia img{
    padding-left: 10px;
    height: 25px;
}

.creatorphoto {
    background-color: blueviolet;
    margin: 0 40px 0 20px;
    height: 330px;
    align-content: center;
}
.creatorphoto img{
    padding: 0px 20px 0px 20px;
    border-radius: 50%;
    height: 300px;
}